* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: white;
  color: #212121;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  color: #2196f3;
}

.banner {
  height: 8px;
  background-color: #2ae4ba;
}

.top {
  padding: 100px 0 8px 0;
  background-color: #ecf0f1;
}

.bottom {
  padding: 100px 0 0 0;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 24px;
}

h1 {
  margin: auto;
}

img {
  max-width: 650px;
  width: 100%;
  height: auto;
  margin: 125px auto 0 auto;
  display: block;
}

h2 {
  margin: 125px 0 0 0;
}

.box--wrap {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

h3 {
  margin: 0 0 8px 0;
  font-size: 20px;
}

.box {
  width: calc((100% / 3) - 24px);
}

.box--title {
  font-size: 20px;
  font-weight: 900;
}

.box--content {
  padding: 32px;
  background-color: #2ae4ba;
  color: white;
  height: 100%;
}

.box--content a {
  color: white;
}

p {
  font-size: 18px;
}

.mob {
  display: none;
}

@media screen and (max-width: 1023px) {
  .mob {
    display: block;
  }

  .desk {
    display: none !important;
  }

  .box--wrap {
    display: block;
    max-width: 400px;
    margin: auto;
  }
  .box {
    width: 100%;
    margin: 40px 0;
  }

  .box--content {
    max-width: 400px;
  }

  .top {
    padding: 24px 0 8px 0;
  }

  img {
    max-width: 75%;
    margin: 100px auto 0 auto;
  }

  .bottom {
    padding: 0;
  }

  .bottom h2 {
    margin: 48px 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  a.mob {
    font-size: 14px;
  }
}
